
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.swiper-pagination-bullet-active{
    background: #000 !important;
    height: 8px ;
    width: 48px !important;
  }
  
  .swiper-pagination-bullet{
    opacity: 1;
    background: #ccc;
    border-radius: 4px!important;
    width: 18px;
    height: 8px;
  }
  
  .swiper-button-next,
  .swiper-button-prev{
    color: #000!important;
    background: #f0f0f0!important;
    border-radius: 100%!important;
    width: 48px!important;
    height: 48px!important;
    align-items: center!important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px!important;
  }