
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.swiper-pagination-bullet-active{
    background: #000 !important;
    height: 8px !important;
    width: 48px !important;
  }
  
  .swiper-pagination-bullet{
    opacity: 1;
    background: #ccc;
    border-radius: 4px;
    width: 18px;
    height: 8px;
  }
  
  .swiper-button-next,
  .swiper-button-prev{
    color: #000;
    background: #f0f0f0;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    align-items: center;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
  }